#productItem{
  width:1000px;
  margin: 0 auto 35px;
  background-color:#fff;
  padding:25px;
  box-sizing: border-box;
}
#productItem>h1{
  font-size:1.5em;
  margin-bottom:25px;
}
#productItem>p:last-child{
  font-size:18px;
  text-align: jus;
}
.topic{
  width:1000px;
  margin: 0 auto 35px;
}
.topic dl{
  width:90%;
  padding:25px;
  margin: 0 auto 25px;
  background-color: #fff;
  color:#666;
  border-radius: 15px;;
}
.topic dl>dt{
  font-size:1.5em;
  margin-bottom:15px;
}
.topic dl>dd{
  text-align: justify;
}
/* 30 - 40 */