
.pic{
  width:calc(25% - 1em);
  margin: 0 0.5em 1em;
  padding:25px;
  box-sizing: border-box;
  border:1px solid #666;
}

.pic>img{
  width:100%;
  margin-bottom:20px;
}
.pic dt{
  font-size: 1.3em;
  margin-bottom:25px;
}
.pic dt>a{

}
.pic dd{
text-align: justify;
color:#666;
}